<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
Source URL 

Destination URL 

shamufarm.com

→

http://www.shamufarm.com/
  </body>
</html>
