<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS BOOTSTRAP  -->
  <%- include('partials/styles_bootstrap4')%>

</head>
<body>
  <!-- NAVIGATOR  -->
<%- include('partials/navigater') %>



<!-- script  -->
  <%- include('partials/script_bootstrap4')%>

</body>
</html>